<%= stylesheet_link_tag "artist" %> 
<div class="navigation">
<ul id="nav-menu">
<li>
<%= link_to "Home", :controller => :artist, :action => :search%>
</li>
<li>
<%= link_to "Logout", :controller => :access, :action => :login%>
</li>
</ul>
</div>

<div>
<h2 class="white-font"><% label_tag(:artistname)%> <%= @result['artist']['name']  %></h2>

<span class="white-font">Visit their Home page <%= link_to(@result['artist']['name'], @result['artist']['url'] ) %></span></br>

<span class="white-font">Number of Listeners:  <%= @result['artist']['stats']['listeners']  %></span></br>

<span class="white-font">Songs Play Count:<%= @result['artist']['stats']['playcount']  %></span></br>
</div>

<div>
<h3 class="white-font">Biography</h3>  
<p class="white-font"><%= strip_links(@result['artist']['bio']['summary'])  %></p>
</div>

<div>
<%= image_tag(@result['artist']['image'][3]['#text'], :alt => "rss feed")%>
</div>


<div class="search-history">
  <h2>Similar Artists</h2> 
  <ul id="side-menu">
  <%@similar['similarartists']['artist'].each do |name|%>
  <li>
  <%=link_to name["name"], {:controller => 'artist' , :action => 'details', :artistname =>name["name"]}%><br/>
  </li>
  <% end %>
  </ul>
</div>
